html { -webkit-text-size-adjust: none; }

body {
width: 100%;
font-family: 'Courier New', serif;
font-size: 100%;
color: #111;
background: #fff;
}
  
/*div {
overflow: hidden;
}*/
/*-------------------index open----------------------------*/
.index-head {
text-align: center;
padding: 6em 0 10em 0;
}

/*.index-head img {
padding: 2em;
}*/

.index-head h1 {
font-size: 4em;
line-height: 2em;
} 

.index-nav {
padding: 2em 0;
}

.index-nav a {
font-size: 2em;
color: #111;
line-height: 1.5em;
}


/*-------------------index-close---------------------------*/

/*-------------------Project-page-open---------------------*/
.back-to-index-nav {
padding: 2em 0 3em 0;
}

.back-to-index-nav ul {
list-style: none;
text-align: center;
}

.back-to-index-nav li {
display: inline;
padding:0 1em;
}

.back-to-index-nav a {
color: #111;
}

.project-page-head {
padding-bottom: 2em;
text-align: center;

}
.project-page-head h1 {
font-size: 5em;
}

/*-------------------project-page-open---------------------*/

/*-------------------unread-open---------------------------*/
.unread-main {
width: 80%;
margin: auto;
background: #fff;
line-height: 2em;
padding: 3em 0;
font-size: 1.2em;
}

.unread-main a {
text-decoration: none;
font-weight: bold;
color: #111;
border-right: 2px solid #111;
margin-right: 0.85em;
padding-right: 0.5em;
}

strong {
text-decoration: underline;
}

/*----------------unread-close-------------------*/

/* ---------------image-gallery-open-------------------------------------*/
.gallery-main {
padding: 0;
margin: 1em;
}

figure.all {
margin: auto;
overflow: hidden;
display: block;
text-align:center;
}

.gallery-main img {
padding: 0;
margin: 1em;
}

/* ------------------image-gallery-close--------------------------------------------------------*/
.footer {
padding: 2em 0;
text-align: center;
}


@media only screen /*smartphone*/
and (min-device-width: 320px)
and (max-device-width: 750px) {
  .project-page-head h1{
    font-size: 3em;
  }
}

 
/*@media only screen /*tablet
and (min-device-width : 750px) 
and (max-device-width : 1024px)
 { 
}*/