html { -webkit-text-size-adjust: none; }

body {
width: 100%;
font-family: 'Courier New', serif;
font-size: 100%;
color: #111;
background: #fff;
}
  
/*div {
overflow: hidden;
}*/
/*-------------------Index open----------------------------*/
.index-head {
text-align: center;
padding: 5em 0 10em 0;
}

img {
padding: 2em;
}

.index-head h1 {
font-size: 4em;
line-height: 2em;
} 
.index-nav a {
font-size: 2em;
color: #111;
line-height: 1.5em;
}


/*-------------------Index close---------------------------*/
/*-------------------Unread open---------------------------*/

.unread-head {
background: #fff;
padding: 5em 0;
text-align: center;
}
.unread-head h1 {
font-size: 5em;
}

.unread-nav {
padding-top: 2em;
}

.unread-nav ul {
list-style: none;
text-align: center;
}

.unread-nav li {
display: inline;
padding:0 1em;
}

.unread-nav a {
color: #111;
}

.unread-main {
width: 80%;
margin: auto;
background: #fff;
line-height: 2em;
padding: 0;
font-size: 1.2em;
}

.unread-main a {
text-decoration: none;
font-weight: bold;
color: #111;
border-right: 2px solid #111;
margin-right: 0.6em;
padding: 0;
}

strong {
text-decoration: underline;
}

/*----------------Unread close-------------------*/

.footer {
padding: 2em 0;
text-align: center;
}


/*@media only screen /*smartphone
and (min-device-width: 320px)
and (max-device-width: 750px) {

}

 
@media only screen /*tablet
and (min-device-width : 750px) 
and (max-device-width : 1024px)
 { 
}*/